.heading{
    color:#14db36;
}
body{
    background-color:#16199a;

}
h1{
    color:white;
}
h5{
    color:white;
}
h3{
    color:white;
}
p{
    color: white;
    font-size: 13px;
}
h4{
    color:white;
}
a{
    color:#f72549;
    font-size: 15px;
}